:root {
  --pink: #ffbacf;
  --darkpink: #ff7c9b;
  --purple: #ecc4fc;
  --brown: #775d43;
  --green: #ebffce;
  --black: #202020;
  
}

html {
  font-size: 16px;
}

@font-face {
    font-family: MattoneRegular;
    src: url("../Mattone-Regular.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: MattoneRegular;
  background: white;
  background: radial-gradient(circle, rgba(223,247,223,1) 0%, rgba(240,244,240,1) 39%, rgba(255,255,255,1) 100%);
  text-transform: uppercase;
  color: var(--black);
  font-size: clamp(1em, 1em + 2vw, 1.25em);
}

header {
  font-weight: bold;
/*   color: var(--purple); */
/*   -webkit-text-stroke-width: 1px; */
/*   -webkit-text-stroke-color: black; */
}

.wrapper {
  width: 60vw;
  padding: 2rem;
  padding-left: 3rem;
  margin-top: 5rem;
  font-size: 1.35rem;
}

.info {
  color: var(--purple);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.contact {
  color: var(--green);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.email {
  color: black;
  -webkit-text-stroke-width: 0px;
  text-transform: none;
}

.social {
  padding-top: 1.5em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding-right: 0.75rem;
  display: inline;
}

a:hover {
  color: var(--purple);
}

footer {
  text-transform: none;
}

@media(max-width: 800px) {
  .wrapper {
    width: 90vw;
    font-size: 3.85vw;
    padding: 1rem;
    padding-left: 1rem;
    margin-top: 2.5rem;
  }
}
