@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap');

body {
  background: #f2e4d5;
  background: #f0ebe6;
  background: #eae3dc;
  font-family: 'Work Sans', sans-serif;
  font-size: 22.5px;
}

.container__intro {
  margin: 50px;
  margin-left: 80px;
  left: 50px;
  top: 50px;
  width: 40vw;
}

.container__links {
  margin: 50px;
  margin-left: 80px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}

.container__links--social {
  display: grid;
  grid-gap: 0.5em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.container__links--email a {
  text-transform: none;
}

.container__links--email a::before {
  content: '✺';
  display: inline-block;
  position: relative;
  transform-origin: center center;
/*   top: -0.055em;
  height: 0.5em;
  width: 0.5em;
  background-color: #ea2dff; */
  color: #ea2dff;
/*   border-radius: 100%; */
  margin-right: 0.4em;
}

.container__links--email a:hover::before {
  animation: 1.5s rotateanim ease-in-out infinite;
}

footer {
  margin-left: 80px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.highlight {
  color: #ea2dff;
}

@keyframes blinkanim {
  0% { opacity:  1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotateanim {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
