@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap');

body {
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.container__intro {
  margin: 50px;
  margin-left: 80px;
  left: 50px;
  top: 50px;
  width: 50vw;
}

.container__links {
  margin: 50px;
  margin-left: 80px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}

.footer {
  margin-left: 80px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.highlight {
  color: #ea2dff;
}

.container__links--social {
  display: grid;
  grid-gap: 0.5em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.container__links--email a {
  text-transform: none;
}

.container__links--email a::before {
  content: '✺';
  display: inline-block;
  position: relative;
  transform-origin: center center;
/*   top: -0.055em;
  height: 0.5em;
  width: 0.5em;
  background-color: #ea2dff; */
  color: #ea2dff;
/*   border-radius: 100%; */
  margin-right: 0.4em;
}

.container__links--email a:hover::before {
  animation: 1.5s rotateanim ease-in-out infinite;
}



@keyframes blinkanim {
  0% { opacity:  1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotateanim {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@media (max-width: 800px) {
  
  .container__intro {
    width: 80vw;
    margin: 2em;
    padding: 0;
  }
  .container__links {
    padding: 0;
    margin: 2em;
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
  .footer {
    margin-left: 2em;
  }


}
